# LINEAR REGRESSION AND NAIVE BAYES

In [1]:
#Importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read the dataset onto variable
train=pd.read_csv('E:/AI & ML NEHA/winter main/ml techniques/titanic_data.csv')
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#Fix the predictor variables
df=train[['Survived','Pclass','Sex','Age','Fare']]

In [4]:
#categorical data encoding 
#change male to 1 and  female to 0
df['Sex']=df['Sex'].apply(lambda sex:1 if sex=="male" else 0)

<ipython-input-4-3a6720d08e7e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex']=df['Sex'].apply(lambda sex:1 if sex=="male" else 0)

In [5]:
#Handling the missing values-Data Imputation
df['Age'].isnull().sum()

177

In [6]:
train.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
#Handling missing values-data imputation
df['Age']=df['Age'].fillna(df['Age'].median()) #outliers

<ipython-input-7-1a818d992012>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age']=df['Age'].fillna(df['Age'].median()) #outliers

In [8]:
#Take a look at the dataframe
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [9]:
#Set the Predictor(X) and Response(Y) variables 
X=df.drop("Survived",axis=1)
Y=df["Survived"]

In [10]:
#Splitting into training and test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=25)

# LOGISTIC REGRESSION MODEL

In [11]:
#Call the Logistic Regression Model
from sklearn.linear_model import LogisticRegression
logit=LogisticRegression()
logit.fit(X_train,Y_train)

LogisticRegression()

In [12]:
#Compute the predictions or Y hat
Y_predLR=logit.predict(X_test)

In [13]:
#confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrixLR=confusion_matrix(Y_test,Y_predLR)
confusion_matrixLR

array([[136,  29],
       [ 31,  72]], dtype=int64)

In [14]:
confusion=pd.crosstab(Y_predLR,Y_test,rownames=['predicted'],colnames=['actual'])
confusion

actual       0   1
predicted
0          136  31
1           29  72

In [15]:
#Accuracy score
from sklearn.metrics import accuracy_score
print("Accuracy of logistic regression:")
accuracy_score(Y_test,Y_predLR)

Accuracy of logistic regression:

0.7761194029850746

In [16]:
#classification report
from sklearn.metrics import classification_report
reportLR=classification_report(Y_test,Y_predLR)
print("Precision Recall and F1-Score of Logistic regression:" )
print(reportLR)

Precision Recall and F1-Score of Logistic regression:
              precision    recall  f1-score   support

           0       0.81      0.82      0.82       165
           1       0.71      0.70      0.71       103

    accuracy                           0.78       268
   macro avg       0.76      0.76      0.76       268
weighted avg       0.78      0.78      0.78       268

# NAIVE BAYES CLASSIFIER

In [17]:
#Call the Naive Bayes Model
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X_train, Y_train)

GaussianNB()

In [18]:
#Compute the predictions or Y hat
Y_predNB=gnb.predict(X_test)

In [19]:
#confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrixNB=confusion_matrix(Y_test,Y_predNB)
confusion_matrixNB

array([[130,  35],
       [ 27,  76]], dtype=int64)

In [20]:
#Accuracy score
from sklearn.metrics import accuracy_score
print("Accuracy of Naive Bayes classifier:")
accuracy_score(Y_test,Y_predNB)

Accuracy of Naive Bayes classifier:

0.7686567164179104

In [21]:
# classification report
from sklearn.metrics import classification_report
reportNB=classification_report(Y_test,Y_predNB)
print("Precision Recall and F1-Score of Naive Bayes classifier:" )

print(reportNB)

Precision Recall and F1-Score of Naive Bayes classifier:
              precision    recall  f1-score   support

           0       0.83      0.79      0.81       165
           1       0.68      0.74      0.71       103

    accuracy                           0.77       268
   macro avg       0.76      0.76      0.76       268
weighted avg       0.77      0.77      0.77       268

# ACCURACY COMPARISONS  BETWEEN LOGISTIC REGRESSION AND NAIVE BAYES CLASSIFIER

In [22]:
#Accuracy score
from sklearn.metrics import accuracy_score
NBaccuracy=accuracy_score(Y_test,Y_predNB)
print("Accuracy of Naive Bayes classifier:",NBaccuracy)

LRaccuracy=accuracy_score(Y_test,Y_predLR)
print("Accuracy of logistic regression:",LRaccuracy)

Accuracy of Naive Bayes classifier: 0.7686567164179104
Accuracy of logistic regression: 0.7761194029850746

The Accuracy obtained from the model based on  logistic regression is better than the accuracy of the naive bayes model

Hence Logistic Regression is better than Naive Bayes

Naive Bayes is a classification method based on Bayes theorem that derives the probability of the given feature vector being associated with a label. Naive Bayes has a naive assumption of conditional independence for every feature, which means that the algorithm expects the features to be independent which not always is the case.
Logistic regression is a linear classification method that learns the probability of a sample belonging to a certain class. Logistic regression tries to find the optimal decision boundary that best separates the classes.

Naive Bayes is a generative model whereas logistic regression is discriminative

Naive Bayes has poor prediction if the features are dependent on each other,this is because in Naive Bayes all  features are conditionally independent.
Logistic regression splits feature space linearly, and typically works reasonably well even when some of the variables are correlated.